*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url('logo1.png');
    height: 40px;
    width: 100%;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
  
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
    cursor: pointer;
}

/* box - 2 */
.add-first{
color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}
.add-second{
    font-size: 1rem;
    margin-left: 1px;
}
.add-icon{
    display: flex;
     align-items: center;
}

/* box 3 */
.nav-search {
    width: 620px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-search:hover{
    box-shadow: 0 0 5px 2px rgba(255, 153, 0, 0.75);
}
.Search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: inherit;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width : 100%;
    height: inherit;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    height: inherit;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd69;
    color: #0f1111;
}

/* box4 */
span{
    margin-left: 10px;
    font-size: 0.85rem;
}
.nav-second{
    font-size: 0.875rem;
    font-weight: 700;
}

/* box5 */
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i {
    font-size: 30px;
}

/* pannel styling */
.pannel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}
.pannel-ops p {
    display: inline;
    margin-left: 15px;
}
.pannel-ops{
    width: 80%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #37475a;
    padding: 5px 10px;
    border-radius: 4px;
}

/* herosection styling */
.herosection{
    height: 600px;
    background-image: url('background1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 40px;
    border-radius: 4px;
}
.hero-message a {
    color: #007185;
}

/* shop section styling  */
.shop-section{
    
    display: flex;
    justify-content: space-evenly;
    background-color: #D9B4A1;
      flex-wrap: wrap; 
     gap: 20px;  
}
.box{
    display: flex;
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    
}
.box-img{
    height: 240px;
    width: 250px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
color: #007185;
}


/* pannel */
.foot-pannel1{
    height: 49px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 0.85rem;
}
.foot-pannel-2{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    font-size: 0.85rem;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul{
    margin-top: 20px;
}
.foot-pannel-3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 0.85rem;
}
.logo{
        background-image: url('logo1.png');
        background-size: cover;
        height: 50px;
        width: 100px;
}
.footpannel-4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    /* display: flex;  
    justify-content: center;
    align-items: center; */
    font-size: 0.7rem;
text-align: center;
}
.pages{
padding-top: 25px;
}
.copywright{ 
    padding-top: 5px;
}